@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

:root {
  --font-noto: "Noto Sans Bengali", sans-serif;
}

/* IMPORTANT: force font globally */
html,
body {
  font-family: var(--font-noto);
  margin: 0;
  padding: 0;
}
